<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

  <servlet>
    <servlet-name>primeiraServlet</servlet-name>
    <servlet-class>br.com.desafiobackend.PrimeiraServlet</servlet-class>

    <servlet-name>listProducts</servlet-name>
    <servlet-class>br.com.desafiobackend.ListProducts</servlet-class>

    <servlet-name>createProduct</servlet-name>
    <servlet-class>br.com.desafiobackend.CreateProduct</servlet-class>

  </servlet>

  <servlet-mapping>
    <servlet-name>primeiraServlet</servlet-name>
    <url-pattern>/primeiraServlet</url-pattern>

    <servlet-name>listProducts</servlet-name>
    <url-pattern>/listProducts</url-pattern>

    <servlet-name>createProduct</servlet-name>
    <url-pattern>/createProduct</url-pattern>


  </servlet-mapping>

</web-app>